:root {
    --color-primary: #5554CC; 
    --color-secondary: #073269;
    --color-card-head: #13afad; 
    --color-accent: #cc5e42;
    --color-HeaderFooter: #08d3d0; 
} 
html {
    font-size: 62.5%;
    height: 100%;
}
body{
    /* background: orange; */
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    
}

/* Typography */
h1 {
    color: #fff;
    font-size: 3rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

h2 {
   color: var(--color-secondary);
   font-size: 2.5rem;
   margin-bottom: 0.5rem;
   margin-top: 1rem; 
}
h3 {
    color: black;
    font-size: 2.5rem;
}
p{
    color: white;
    font-size: 1.5rem; 
    margin-top: 1rem;
}
li { 
    color: var(--color-accent);
    font-size: 1.5rem; 
    margin-top: 1rem;
}

/* Components */
/* Nav */
.nav_head {
    width: 100%;
    top: 0;
    background: var(--color-HeaderFooter);
    padding: 1rem 2rem;
    /* margin-bottom: rem; */
    display: flex;
    position: fixed;
    /* z-index: 999; */

    
}
.nav-header {
    padding: 1rem 0rem;
    font-size: 1.8rem;
}
.nav-logo {
    width: 5rem;
    margin: 0 1rem;
    /* padding-right: 0.5rem; */
}


/* badge */
.badge{
    border-radius: 20px;
    padding: 0.5rem 1rem;
    /* margin-bottom: 20rem; */
    font-size: 1.5rem;
    font-weight: bold;
    white-space: nowrap;
}

.badge--color {
    background: var(--color-accent);
    color: #fff;
}

/* Remove Btn */
.remove-icon {
    width: 5rem;
    height: 5rem;
    margin: 2rem 2rem;
}
.removeBtn-position {
    margin-top: 1.5rem;
    padding-left: 8rem;
}
.remove-icon:hover {
    /* background: rgb(29, 80, 33); */
    border-radius: 100%;
    box-shadow: 2px 0 1rem rgb(0, 0, 0);
    transition: 0.3s;
}

/* Normal btn */
.btn {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 2rem 7.2rem;
    border: 0;
    border-radius: 25px;
}
.btn--primary {
    background: var(--color-primary);
    color: #fff;
}
.btn--secondary {
    background: var(--color-secondary);
    color: #fff;
}
/* .btn--primary:hover {
    background: var(--color-accent);
    color: #fff;
    transition: 0.3s;
}
.btn--secondary:hover {
    background: red;
    color: #fff;
    transition: 0.3s;
} */

/* Card */
.card {
    width: 80%;
    height: fit-content;
    margin: 4rem;
    border-radius: 7px;
    box-shadow: 10px 10px 10px 5px #a29999;
}
.card:hover {
    box-shadow: 10px 10px 10px 10px #a29999;
    transition: 0.3s;
}
.card__header,
.card__body {
    padding: 2rem 3rem;
}
.card__header h1, h2{
    color: #f3f3f3;
}
.card__header {
    background: var(--color-card-head);
}
.card__body {
    background: rgb(208, 247, 240);
    display: flex;
    flex-direction: column;
}
.card__img {
    width: 25rem;
    height: auto;
    /* padding: 3rem; */
    /* height: 30rem; */
}
.card-list_item {
    font-size: 2rem;
    text-align: left;
    padding-left:1.5rem;
}
.card_price {
    margin-bottom:2.5rem;
}
.card_price h3{
    display: inline-block;
    
}
.card_badege-position {
    margin-left: 2rem;
}

.cart_box {
    width: 100%;
}

.cart_head.cart_body {
    width: 100%;
}
.cart_body {
    background: rgb(208, 247, 240);
   
    padding: 2rem 3rem;
}
.ul_decorate {
    margin: 0rem;
    padding: 0rem;
    
}
.li_decorate {
    width: 90%;
    height: 50%;
    margin-left: 1rem;
    padding: 1rem 1rem;
    border-radius: 12px;
    background: #7ccfde;
    list-style: none;
    display: flex;
    flex-direction: row;

}
.cart_head h1 {
    font-size: 2.5rem;
    margin-left: 5rem;

}
.li_image {
    width: 8rem;
}
.item_list-H{
    color: var(--color-secondary);
}
.clear-btn_position {
    margin-top: 5rem;
    padding: 3rem;
}

/* Footer */
.footer {
    margin-top: auto;
    width: 100%;
    height: 6rem;
    background: var(--color-HeaderFooter);
    
}
.footer_text {
    padding: 1.5rem 0rem;
    text-align: center;

}


/* Grid */ 

.grid {
    display: grid;
    height: fit-content;
    /* transition: 0.5s; */
}
.grid_li--1x3 {
    grid-template-columns: repeat(3, 1fr);
}


@media screen and (min-width: 765px) {
    /* Typography */
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 2.1rem;
    }
    p {
        font-size: 1.2rem;
    }
    /* Nav */
    .nav-header {
        padding: 1rem 0rem;
        font-size: 2.8rem;
    }
    /* Badege */
    .badge {
        font-size: 1.2rem;
    }
    .badge:hover{
        border-radius: 20px;
        padding: .6rem 2.1rem;
        transition: 0.2s;
    }
    /* Normal btn */
    .btn {
        font-size: 1.2rem;
        padding: 1.7rem 10rem;

    }
    .btn--primary:hover {
        background: var(--color-accent);
        color: #fff;
        transition: 0.3s;
    }
    .btn--secondary:hover {
        background: red;
        color: #fff;
        transition: 0.3s;
    }
    /* Remove Btn */
    .remove-icon {
        width: 2.0rem;
        height: 2.0rem;
    }
    .remove-icon {
        width: 5rem;
        height: 5rem;
    }
    .remove-icon:hover {
        /* background: rgb(29, 80, 33); */
        border-radius: 100%;
        /* width: 4rem;
        height: 4rem; */
        box-shadow: 2px 0 1rem rgb(0, 0, 0);
        transition: 0.3s;
    }
    /* Card */
    .card {
        width: 90%;
        
    }
    .card__img {
        width: 20rem;
        /* padding: -1rem; */
        margin-left: 5rem;
        /* height: 30rem; */
    }
    .card_badege-position {
        margin-left: 6.5rem;
    }
    
    /* Cart Bidy */
    .cart_body {
        margin: 4rem 8rem;
        background: rgb(208, 247, 240);
        width: 65%;
        height: fit-content;
        padding: 2rem 3rem;
        box-shadow: 0px 20px 20px 10px rgb(208, 247, 240);
        border-radius: 12.5px;
        
        
    }
    .li_decorate {
        width: 90%;
       
    }
    /* Clear btn */
    .clear-btn_position {
        margin-top: 5rem;
        padding: 2.5rem;
    }
    /* Grid */
    .grid--1x2 {
        grid-template-columns: 2fr 1fr;
    }
    .grid--1x3 {
        grid-template-columns: repeat(3, 1fr);
    }
    .card_holdinf-size {
        width: 50%;
        gap: 1rem;
    }
}
