<h1>Hello</h1>
<h2>Hello</h2>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium neque
  expedita corrupti mollitia distinctio reiciendis! Dignissimos mollitia
  exercitationem eum ducimus aliquid tenetur. Blanditiis, corporis dolorum
  reprehenderit adipisci sequi deserunt quo.
</p>
<span class="badge badge--color">20% Off</span>

<a href="#"
  ><img class="remove-icon" src="images/delete_icon.png" alt="remove item"
/></a>

<button class="btn btn--primary">Add to Cart</button>
<button class="btn btn--secondary">Clear List</button>

<div class="card">
    <div class="card__header">
      <h1>Mobile</h1>
      <h2>iPhone 15 Pro</h2>
    </div>
    <div class="card__body">
      <img class="card__img" src="images/iphone15.png" alt="iphone15" />
      <ul class="card-list_item">
        <li>128Gb version</li>
        <li>Color Gray</li>
        <li>Titenim Body</li>
      </ul>
      <aside class="card_price">
        <span><h3>Price: $1,250</h2></span>
        <span class="badge badge--color card_badege-position ">20% Off</span>
      </aside>

      <button class="btn btn--primary">Add to Cart</button>
    </div>
  </div>





  <!-- cart lsit -->

  <div class="cart_body">
    <h1 class="item_list-H">Cart List</h1>
    <ul class="ul_decorate">
      <li class="li_decorate">
        <img class="li_image" src="images/iphone15.png" alt="photo" />
        <div class="item_info">
          <p>iPhone 15 pro</p>
          <p>Quantity:1</p>
        </div>
        <a class="removeBtn-position" href="#"
          ><img
            class="remove-icon"
            src="images/delete_icon.png"
            alt="remove item"
        /></a>
      </li>
      <li class="li_decorate">
        <img class="li_image" src="images/iphone15.png" alt="photo" />
        <div class="item_info">
          <p>iPhone 15 pro</p>
          <p>Quantity:1</p>
        </div>
        <a class="removeBtn-position" href="#"
          ><img
            class="remove-icon"
            src="images/delete_icon.png"
            alt="remove item"
        /></a>
      </li>
      <li class="li_decorate">
        <img class="li_image" src="images/iphone15.png" alt="photo" />
        <div class="item_info">
          <p>iPhone 15 pro</p>
          <p>Quantity:1</p>
        </div>
        <a class="removeBtn-position" href="#"
          ><img
            class="remove-icon"
            src="images/delete_icon.png"
            alt="remove item"
        /></a>
      </li>
    </ul>
    <button class="btn btn--secondary clear-btn_position">Clear List</button>
  </div>